name: Check Compilation
on:
  pull_request:
    branches: [ main ]

jobs:
  check-compilation:
    name: 'Check compilation'
    runs-on: ubuntu-latest
    timeout-minutes: 2
    container:
      image: mcr.microsoft.com/playwright:v1.56.1-noble
      options: --user 1001

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 1

    - uses: actions/setup-node@v5
      with:
        node-version: lts/*

    - name: Check compilation
      run: npm ci --dry-run